node_modules
**/node_modules
server/node_modules
dist
server/dist
server/.env
SETUP_URL.txt
certs
.acme.sh
*.pem
*.key
server/prisma/prisma/*.db
server/prisma/prisma/*.db-journal
server/prisma/*.db
server/prisma/*.db-journal
server/uploads
public/uploads
uploads
data
.git
.cursor
.idea
.vscode
*.log
